body {
  background: var(--very-light-gray);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 20px;
}

.header {
  text-align: center;
  margin: 0 auto;
  font-weight: 200;
  color: var(--very-dark-blue);
}

.header h1 {
  font-size: 20px;
  font-weight: 200;
}

.header h2 {
  font-weight: 600;
  font-size: 20px;
}

.header p {
  font-size: 13px;
  margin: 10px 0 40px;
  color: var(--grayish-blue);
  max-width: 450px;
}

.cards-container {
  max-width: 950px;
}

@media (min-width: 1024px) {
  .cards-container {
    justify-content: center;

    display: flex;
    flex-wrap: wrap;
  }

  .card.card-supervisor {
    transform: translateY(60%);
    margin-right: 25px;
  }

  .card.card-karma {
    order: 1;
    margin-top: 15px;
  }

  .card.card-calculator {
    transform: translateY(60%);
    margin-left: 25px;
  }
}

.cards-container .card {
  background: white;
  max-width: 300px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 1px 10px 23px 0 var(--grayish-blue);
  border-radius: 5px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card h2 {
  font-size: 16px;
  color: var(--very-dark-blue);
  font-weight: 600;
}

.card p {
  color: var(--grayish-blue);
  font-size: 12px;
  margin: 5px 0 20px;
  font-weight: 200;
  padding-right: 10px;
}

.card img {
  margin-left: auto;
  width: 60px;
}

.card.card-supervisor {
  border-top: 4px solid var(--cyan);
}

.card.card-team-builder {
  border-top: 4px solid var(--red);
}

.card.card-karma {
  border-top: 4px solid var(--orange);
}

.card.card-calculator {
  border-top: 4px solid var(--blue);
}
